<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <listeners>
        <listener class-name="hw6.listeners.ScreenshotListener"/>
    </listeners>
    <test name="ExerciseTwoTest">
        <classes>
            <class name="hw6.RunAcceptanceIT"/>
        </classes>
    </test>
</suite>
