<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <listeners>
        <listener class-name="hw5.listeners.ScreenshotListener"/>
    </listeners>
    <test name="ExerciseOneTest">
        <classes>
            <class name="hw5.ex1.ExerciseOneTest"/>
        </classes>
    </test>
    <test name="ExerciseTwoTest">
        <classes>
            <class name="hw5.ex2.ExerciseTwoTest"/>
        </classes>
    </test>
</suite>
